@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/**==================== STYLE RESET ====================**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-void);
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
}

/**====================/// STYLE RESET \\\====================**/

/**==================== BASE/VARIABLES ====================**/
body {
  font-family: "Poppins", sans-serif;
  
}

:root {
  font-size: 14px;
  --color-primary: #f88973;
  --color-secondary: #0d0d1b;
  --color-text-shadow: #0d0d1b6b;
  --hero-shadow: 0rem 0rem 10rem var(--color-secondary);
  --link-shadow: .1rem .1rem .5rem var(--color-secondary);
  --logo-shadow: .1rem .1rem 1rem var(--color-secondary);
  --link-shadow-active: 0rem 0rem 8px var(--color-primary);
}

.wrapper {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  position: relative;
  background: radial-gradient(circle at center, var(--color-primary), var(--color-secondary));
}

/**====================/// BASE/VARIABLES \\\====================**/

/**==================== KEYFRAMES ====================**/
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-60px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(30px) translateY(-50%) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) translateY(-50%) scale(1);
  }
}

/**====================/// KEYFRAMES \\\====================**/

/**==================== THEMES ====================**/
.red-theme {
  --color-primary: #f88973;
  --link-shadow-active: 0rem 0rem 8px var(--color-primary);
}

.blue-theme {
  --color-primary: #73cef8;
  --link-shadow-active: 0rem 0rem 8px var(--color-primary);
}

.gold-theme {
  --color-primary: #f5cb86;
  --link-shadow-active: 0rem 0rem 8px var(--color-primary);
}

.white-theme {
  --color-primary: #fff;
  --link-shadow-active: 0rem 0rem 8px var(--color-primary);
}

/**====================/// THEMES \\\====================**/

/**==================== HEADER ====================**/
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  z-index: 1000;
}

.logo p {
  font-size: 8rem;
  font-weight: 600;
  color: var(--color-primary);
  text-shadow: var(--logo-shadow);
  transition: all .4s ease;
}

.logo p span {
  margin: -1.75rem;
}

.logo p:hover {
  transform: scale(.90);
}

.navigation {
  padding: 0rem 1rem;
}

.nav-list {
  display: flex;
  gap: 5rem;
}

.tab-button {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .15rem;
  text-transform: uppercase;
  color: var(--color-primary);
  text-shadow: var(--link-shadow);
  transition: all .4s ease;
}

.tab-button:hover {
  transform: scale(1.15);
}

.tab-button.active {
  color: var(--color-secondary);
  text-shadow: var(--link-shadow-active);
}

.hambrg {
  font-size: 3rem;
  color: var(--color-primary);
  display: none;
}

.stopScroll {
  height: 100%;
  overflow: hidden;
}

/**====================/// HEADER \\\====================**/

/**==================== LEFT SECTION ====================**/
.left {
  position: fixed;
  left: 5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 600;
}

.social {
  position: absolute;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social-btn {
  font-size: 1.75rem;
  text-shadow: var(--link-shadow);
  color: var(--color-primary);
  transition: all .4s ease;
}

.social-btn:hover {
  transform: scale(1.25);
}

/**====================/// LEFT SECTION \\\====================**/

/**==================== RIGHT SECTION ====================**/
.right {
  position: fixed;
  right: 6rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 600;
}

.themes {
  position: absolute;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.theme-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: var(--link-shadow);
  transition: all .4s ease;
}

.theme1 {
  background: linear-gradient(45deg, #f88973, #0d0d1b);
}

.theme2 {
  background: linear-gradient(45deg, #73cef8, #0d0d1b);
}

.theme3 {
  background: linear-gradient(45deg, #f5cb86, #0d0d1b);
}

.theme4 {
  background: linear-gradient(45deg, #ffffff, #0d0d1b);
}

.theme-btn:hover {
  transform: scale(1.25);
}

.theme-btn.active {
  border: 2px solid var(--color-primary);
}

/**====================/// RIGHT SECTION \\\====================**/

/**==================== CONTENT SECTION ====================**/
.content {
  flex-direction: column;
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  display: flex;
}

.section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/**====================/// CONTENT SECTION \\\====================**/

/**==================== HOME PAGE ====================**/
.hero {
  background: linear-gradient(210deg, var(--color-primary), var(--color-secondary), var(--color-primary));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  filter: drop-shadow(var(--hero-shadow));
  transition: all .4s ease;
  animation: fade-down .75s forwards;
}

.hero:hover {
  filter: none;
  transform: scale(.98);
}

.hero h1 {
  font-size: 20rem;
}

.arrow-down {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  font-size: 3rem;
  filter: drop-shadow(var(--logo-shadow));
  transform: translateX(-50%);
  color: var(--color-primary);
  transition: all .4s ease;
}

.arrow-down i {
  cursor: pointer;
}

.pageTitle {
  color: var(--color-primary);
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 15px #0000005a;
  margin-top: -2rem;
}

.pageDescription {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 3rem;
  width: 50rem;
  font-weight: 500;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 2rem;
}

.flipCard {
  background: transparent;
  width: 21.429rem;
  height: 21.429rem;
  perspective: 71.429rem;
  filter: drop-shadow(0 0 10px #0000006b) ;
  
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 25%;
  box-shadow: 0 0 30px #0000005a;
}

.flipCardFront {
  background: transparent;
}

.flipCardFront .cardImage {
  width: 15.714em;
  height: auto;
}

.flipCardBack {
  background: transparent;
  color: #fff;
  transform: rotateY(180deg);
}

.flipCardBack .cardImage {
  width: 10em;
  height: auto;
}

.flipCardBack h1 {
  font-size: 1.5em;
  color: #fff;
  padding: 0 1em;
}

.react{
  fill: #61DBFB;
}

.js {
  fill: #ffff00;
}

.html {
  fill: #f06529;
}

.css {
  fill: #2965f1;
}

.php {
  fill: #777BB3;
}

.node {
  fill: #03b100;
}

.flipCardFront .js{
  width: 12.857em;
}

.flipCardFront .css {
  width: 11.786em;
  margin-top: 1em;
}

.flipCardFront .html {
  width: 11.429em;
  margin-top: 1em;
}

.flipCardFront .php {
  width: 17.143em;
}

.flipCardFront .node {
  width: 12.857em;
}

.flipCardBack .php {
  width: 10em;
  margin: -1em 0;
}

.flipCardBack .node {
  width: 8.571em;
  margin-bottom: 1em;
}

.flipCardBack .mysql {
  margin: -1em 0;
}

.flipCardBack .html, .flipCardBack .css {
  width: 8.571em;
}


/**====================/// HOME PAGE \\\====================**/

/**==================== PROJECTS SECTION ====================**/
.postList {
  display: flex;
  gap: 2rem;
  padding: 2rem 2rem 0;
  margin: 0 2rem;
}

.post {
  display: inline-block;
  width: 40rem;
  height: 40rem;
}

.postTitle {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.postContent {
  height: 30rem;
  width: 40rem;
  overflow: hidden;
  border-radius: .30rem;
}

.postContent img {
  object-fit: cover;
  height: 100%;
}

.postBody {
  padding: .5rem;
  text-align: center;
}

/**====================/// PROJECTS SECTION \\\====================**/

/**==================== ARTISTRY SECTION ====================**/

/**====================/// ARTISTRY SECTION \\\====================**/

/**==================== SERVICES SECTION ====================**/

/**====================/// SERVICES SECTION \\\====================**/

/**==================== ABOUTME SECTION ====================**/

/**====================/// ABOUTME SECTION \\\====================**/

/**==================== CONTACT SECTION ====================**/

/**====================/// CONTACT SECTION \\\====================**/

